.control-products-action {
    color: #212121;
    cursor: pointer;
}

.home-editor {
    background-color: #ffffff;
    min-height: 325px;
}

.control-product-image-holder{
    height:400px;
    width:400px;
    float:left;
    cursor:pointer;
    box-shadow: 1px 1px 1px #212121;
}
.control-product-image{
    height:400px;
    width:400px;
}
.overlay{
    height:400px;
    width:400px;
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
    text-align:center;
    display:none;
}
.overlay p{
    color:white;
    line-height:400px;
    font-size:80px;
    margin:0;
}

.control-product-img-input {
    display:none;
}

.save-product-button {
    margin: 1.14rem 0 0.912rem 0;
}

.attr-text {
    float:left;
    padding-right: 10px;
}

.attr-button {
    height: 26px;
    width: 26px;
}

